/*---HEADER---*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

header {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	transition: all 200ms linear;
}

header ::selection {
	color: #fff;
	background-color: #8167a9;
}

header ::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

header .start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

header .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

header .start-header.scroll-on .navbar-brand img {
	height: 24px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

header .navigation-wrap {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

header .navbar {
	padding: 0;
}

header .navbar-brand img {
	height: 50px;
	width: auto;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

header .navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}

header .navbar-toggler:active, .navbar-toggler:focus {
	outline: none;
}

header .navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
	transition: all 300ms linear;
}

header .navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

header .navbar-light .navbar-toggler-icon:after {
	top: 8px;
}

header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}

header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}

header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

header .nav-link {
	color: white !important;
	font-weight: 500;
	transition: all 200ms linear;
}

header .nav-item:hover .nav-link {
	color: #8167a9 !important;
}

header .nav-item.active .nav-link {
	color: #afafaf !important;
}

header .nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

header .nav-item:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
	transition: all 200ms linear;
}

header .nav-item:hover:after {
	bottom: 0;
	opacity: 1;
}

header .nav-item.active:hover:after {
	opacity: 0;
}

header .nav-item {
	position: relative;
	transition: all 200ms linear;
}

header .bg {
	background-color: #801300 !important;
	transition: all 200ms linear;
}

header .section {
	position: relative;
	width: 100%;
	display: block;
}

header .full-height {
	height: 100vh;
}

header .over-hide {
	overflow: hidden;
}

header .absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}

header h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}

header p {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
	transition: all 300ms linear;
	transition-delay: 1700ms;
}

header .header-animation p {
	opacity: 0;
	transform: translateY(40px);
	transition-delay: 1700ms;
}

header h1 span {
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}

header.header-animation h1 span:nth-child(1) {
	opacity: 0;
	transform: translateY(-20px);
}

header.header-animation h1 span:nth-child(2) {
	opacity: 0;
	transform: translateY(-30px);
}

header.header-animation h1 span:nth-child(3) {
	opacity: 0;
	transform: translateY(-50px);
}

header.header-animation h1 span:nth-child(4) {
	opacity: 0;
	transform: translateY(-10px);
}

header.header-animation h1 span:nth-child(5) {
	opacity: 0;
	transform: translateY(-50px);
}

header.header-animation h1 span:nth-child(6) {
	opacity: 0;
	transform: translateY(-20px);
}

header.header-animation h1 span:nth-child(7) {
	opacity: 0;
	transform: translateY(-40px);
}

header.header-animation h1 span:nth-child(8) {
	opacity: 0;
	transform: translateY(-10px);
}

header.header-animation h1 span:nth-child(9) {
	opacity: 0;
	transform: translateY(-30px);
}

header.header-animation h1 span:nth-child(10) {
	opacity: 0;
	transform: translateY(-20px);
}

header h1 span:nth-child(1) {
	transition-delay: 1000ms;
}

header h1 span:nth-child(2) {
	transition-delay: 700ms;
}

header h1 span:nth-child(3) {
	transition-delay: 900ms;
}

header h1 span:nth-child(4) {
	transition-delay: 800ms;
}

header h1 span:nth-child(5) {
	transition-delay: 1000ms;
}

header h1 span:nth-child(6) {
	transition-delay: 700ms;
}

header h1 span:nth-child(7) {
	transition-delay: 900ms;
}

header h1 span:nth-child(8) {
	transition-delay: 800ms;
}

header h1 span:nth-child(9) {
	transition-delay: 600ms;
}

header h1 span:nth-child(10) {
	transition-delay: 700ms;
}

header.header-animation h1 span:nth-child(11) {
	opacity: 0;
	transform: translateY(30px);
}

header.header-animation h1 span:nth-child(12) {
	opacity: 0;
	transform: translateY(50px);
}

header.header-animation h1 span:nth-child(13) {
	opacity: 0;
	transform: translateY(20px);
}

header.header-animation h1 span:nth-child(14) {
	opacity: 0;
	transform: translateY(30px);
}

header.header-animation h1 span:nth-child(15) {
	opacity: 0;
	transform: translateY(50px);
}

header h1 span:nth-child(11) {
	transition-delay: 1300ms;
}

header h1 span:nth-child(12) {
	transition-delay: 1500ms;
}

header h1 span:nth-child(13) {
	transition-delay: 1400ms;
}

header h1 span:nth-child(14) {
	transition-delay: 1200ms;
}

header h1 span:nth-child(15) {
	transition-delay: 1450ms;
}

header .nav-item .dropdown-menu {
	transform: translate3d(0, 10px, 0);
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	display: block;
	padding: 0;
	margin: 0;
	transition: all 200ms linear;
}

header .nav-item.show .dropdown-menu {
	opacity: 1;
	visibility: visible;
	max-height: 999px;
	transform: translate3d(0, 0px, 0);
}

header .dropdown-menu {
	padding: 10px !important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	transition: all 200ms linear;
}

header .dropdown-toggle::after {
	display: none;
}

header .dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
	transition: all 200ms linear;
}

header .dropdown-item:hover,
header .dropdown-item:focus {
	color: #fff;
	background-color: rgba(129, 103, 169, .6);
}

@media (max-width: 767px) {
	header h1 {
		font-size: 38px;
	}

	header .nav-item:after {
		display: none;
	}

	header .nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
}

/*---HEADER---*/
/*---CARDÁPIO---*/
body section {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

section h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: none;
}

section hr {
	border-color: #ffc266;
	border-width: 5px;
	max-width: 100%;
}

section .container-h1 {
	color: #333;
	font-family: 'Lora', serif;
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	font-weight: 700;
	margin-top: 130px;
	margin-bottom: 50px;
	text-align: center;
}

section .btn {
	background-color: #182c39;
	border-radius: 0;
	color: #fff;
	display: table;
	font-weight: 500;
	margin: 20px auto;
	padding: 10px;
}

section .btn:hover {
	background-color: transparent;
	border: 1px solid #182c39;
	color: #182c39;
}

section n .hr-h3s {
	border: 3px solid #E94B3C;
	margin: 0 auto 35px auto;
	width: 70px;
}

section textarea {
	resize: none;
}

section {
	align-items: center;
	padding: 50px 60px;
}

.bg-section h2 {
	background-color: #182c39;
	border-radius: 50px;
	color: #ffc266;
	font-family: 'Montserrat', sans-serif;
	margin: 50px 0;
	padding: 25px 20px;
	text-transform: none;
}

section .slideanim {
	visibility: hidden;
}

section .slide {
	-moz-animation-duration: 1.5s;
	-moz-animation-name: slide;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-name: slide;
	animation-duration: 1.5s;
	animation-name: slide;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

/* Estilos personalizados para os botões de categoria */
section .category-buttons {
	-webkit-overflow-scrolling: touch;
	display: inline-flex;
	overflow-x: auto;
}

section .category-buttons .nav-link {
	background-color: #182c39;
	border: none;
	color: #fff;
	margin: 1px;
	min-width: 100px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: background-color 0.3s, color 0.3s;
	white-space: nowrap;
}

section .category-buttons .nav-link.active {
	background-color: #944743;
	border: none;
	color: #fff;
}

section .category-buttons .nav-link:hover {
	background-color: #944743;
	color: #fff;
}

section .swiper-container {
	overflow: hidden;
	position: relative;
}

section .swiper-wrapper {
	display: flex;
}

section .swiper-slide {
	flex-shrink: 0;
	transition: transform 0.3s ease-in-out;
	width: 105px;
}

section .swiper-pagination {
	bottom: 10px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

section .swiper-pagination-bullet {
	background-color: #fff;
	border-radius: 50%;
	height: 10px;
	margin: 0 5px;
	opacity: 0.5;
	width: 10px;
}

section .bg-about {
	background-color: white;
	margin: auto 50px;
}

section #about h3 {
	color: #E94B3C;
	font-family: 'Roboto', sans-serif;
}

section #about .restaurant-history p {
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding: 20px 80px;
}

section p.first::first-letter {
	color: #000;
	font-size: 150%;
}

section #about h1 {
	padding-top: 35px;
}

section #about .image {
	display: block;
	height: auto;
	width: 100%;
}

section #about .hov-img * {
	box-sizing: border-box;
}

section #about .hov-img {
	display: inline-block;
	height: auto;
	margin-bottom: 10px;
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.bg-cardapio {
	margin: auto 50px;
}

#cardapio .nav-pills {
	background-color: #182c39;
	border-color: transparent;
	color: #000;
	font-weight: 500;
	margin: 25px;
}

#cardapio .nav-pills>li>a, #cardapio .nav-pills>li>a:focus {
	border-radius: 0;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}

#cardapio .nav-pills>li>a:hover, #cardapio .nav-pills>li>a:focus:hover {
	background-color: #944743;
	color: #fff;
}

#cardapio .nav-pills>li>a.active, #cardapio .nav-pills>li>a.active:focus {
	background-color: #944743;
	color: #fff;
}

#cardapio .hr-cardapio {
	border: 2px solid #182c39;
	width: 100%;
}

#cardapio .list-group-item {
	background-color: transparent;
	border-bottom: 1px solid #555;
	border: none;
	padding: 0 auto;
}

#cardapio .tab-content .tab-pane h3 {
	font-family: 'Leckerli One', cursive;
	text-align: center;
}

#cardapio .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#cardapio .list-group-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#cardapio .list-group-item h4 {
	color: #182c39;
	font-size: 18px;
	text-align: left;
	text-transform: none;
}

#cardapio .list-group-item p {
	color: #555555;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	text-transform: none;
}

#cardapio .badge {
	background-color: #444;
	border-radius: 0;
	color: #fff;
	font-size: 12px;
}

#cardapio .right-cover {
	background-color: #fff;
	color: #DC4C46;
	padding: 10px;
	text-shadow: #DC4C46 .4em .4em .4em;
	text-transform: none;
}

/*---CARDÁPIO---*/
/*---FOOTER---*/
#footer {
	background-color: #182c39;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#footer ul {
	line-height: 2.2;
	list-style-type: none;
	padding-left: 0;
}

#footer h5 {
	color: white;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 40px;
	text-transform: uppercase;
}

#footer a {
	color: #aaa;
}

#footer a:hover, #footer a:focus {
	color: white;
	text-decoration: none;
}

#footer .social-networks {
	padding-bottom: 25px;
	padding-top: 20px;
}

#footer .footer-items .fa {
	background-color: white;
	border-radius: 50%;
	color: #182c39;
	font-size: 17px;
	height: 30px;
	line-height: 31px;
	margin-bottom: 5px;
	padding-bottom: 25px;
	text-align: center;
	text-decoration: none;
	transition: color 1s;
	width: 30px;
}

#footer .footer-items {
	font-size: 15px;
	margin: auto;
	padding-left: 50px;
}

#footer .fa-facebook:hover, #footer .fa-instagram:hover {
	background-color: #182c39;
	border: 1px solid #fff;
	color: #fff;
}

.footer-copyright {
	background-color: #10222e;
}

.footer-copyright p {
	color: #ccc;
	font-size: 15px;
	margin-bottom: 0;
	padding: 10px 0;
	text-align: center;
}

#footer .hr-foot {
	border: 1px solid #fff;
	margin: 10px auto;
	width: 80%;
}

#footer .to-top {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	bottom: 12px;
	color: #fff;
	font-size: 30px;
	height: 40px;
	position: fixed;
	right: 12px;
	text-align: center;
	text-decoration: none;
	width: 40px;
}

#footer .to-top:hover {
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	background-color: #222;
	color: #fff;
	transition: all 1s ease;
}