body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff; 
    margin: 10px;
    font-size: 18px;
    background-color: #801300;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #573b00;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

form {
    text-align: center;
}

fieldset {
    border: 2px solid #801300;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

legend {
    font-size: 24px;
    font-weight: bold;
}

.inputUser {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.inputBox {
    position: relative;
}

.labelInput {
    position: absolute;
    top: -15px;
    left: 0;
    pointer-events: none;
    padding: 10px;
    transition: 0.2s;
    font-size: 18px; 
}

.inputUser:focus + .labelInput,
.inputUser:valid + .labelInput {
    transform: translate(0, -24px);
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#submit {
    background-color: #801300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: #573b00;
}