 /*---HEADER---*/
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

 header {
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: #212112;
     transition: all 200ms linear;
 }

 header ::selection {
     color: #fff;
     background-color: #8167a9;
 }

 header ::-moz-selection {
     color: #fff;
     background-color: #8167a9;
 }

 header .start-header {
     opacity: 1;
     transform: translateY(0);
     padding: 20px 0;
     box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }

 header .navigation-wrap {
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 1000;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }

 header .navbar {
     padding: 0;
 }

 header .navbar-brand img {
     height: 50px;
     width: auto;
     display: block;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }

 header .navbar-toggler {
     float: right;
     border: none;
     padding-right: 0;
 }

 header .navbar-toggler:active, .navbar-toggler:focus {
     outline: none;
 }

 header .navbar-light .navbar-toggler-icon {
     width: 24px;
     height: 17px;
     background-image: none;
     position: relative;
     border-bottom: 1px solid #000;
     transition: all 300ms linear;
 }

 header .navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
     width: 24px;
     position: absolute;
     height: 1px;
     background-color: #000;
     top: 0;
     left: 0;
     content: '';
     z-index: 2;
     transition: all 300ms linear;
 }

 header .navbar-light .navbar-toggler-icon:after {
     top: 8px;
 }

 header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
     transform: rotate(45deg);
 }

 header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
     transform: translateY(8px) rotate(-45deg);
 }

 header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
     border-color: transparent;
 }

 header .nav-link {
     color: white !important;
     font-weight: 500;
     transition: all 200ms linear;
 }

 header .nav-item:hover .nav-link {
     color: #8167a9 !important;
 }

 header .nav-item.active .nav-link {
     color: #afafaf !important;
 }

 header .nav-link {
     position: relative;
     padding: 5px 0 !important;
     display: inline-block;
 }

 header .nav-item:after {
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 100%;
     height: 2px;
     content: '';
     background-color: #8167a9;
     opacity: 0;
     transition: all 200ms linear;
 }

 header .nav-item:hover:after {
     bottom: 0;
     opacity: 1;
 }

 header .nav-item.active:hover:after {
     opacity: 0;
 }

 header .nav-item {
     position: relative;
     transition: all 200ms linear;
 }

 header .bg {
     background-color: #801300 !important;
     transition: all 200ms linear;
 }

 header .section {
     position: relative;
     width: 100%;
     display: block;
 }

 header h1 {
     font-size: 48px;
     line-height: 1.2;
     font-weight: 700;
     color: #212112;
     text-align: center;
 }

 header h1 span {
     display: inline-block;
     transition: all 300ms linear;
     opacity: 1;
     transform: translate(0);
 }

 header.header-animation h1 span:nth-child(1) {
     opacity: 0;
     transform: translateY(-20px);
 }

 header.header-animation h1 span:nth-child(2) {
     opacity: 0;
     transform: translateY(-30px);
 }

 header.header-animation h1 span:nth-child(3) {
     opacity: 0;
     transform: translateY(-50px);
 }

 header.header-animation h1 span:nth-child(4) {
     opacity: 0;
     transform: translateY(-10px);
 }

 header.header-animation h1 span:nth-child(5) {
     opacity: 0;
     transform: translateY(-50px);
 }

 header.header-animation h1 span:nth-child(6) {
     opacity: 0;
     transform: translateY(-20px);
 }

 header.header-animation h1 span:nth-child(7) {
     opacity: 0;
     transform: translateY(-40px);
 }

 header.header-animation h1 span:nth-child(8) {
     opacity: 0;
     transform: translateY(-10px);
 }

 header.header-animation h1 span:nth-child(9) {
     opacity: 0;
     transform: translateY(-30px);
 }

 header.header-animation h1 span:nth-child(10) {
     opacity: 0;
     transform: translateY(-20px);
 }

 header h1 span:nth-child(1) {
     transition-delay: 1000ms;
 }

 header h1 span:nth-child(2) {
     transition-delay: 700ms;
 }

 header h1 span:nth-child(3) {
     transition-delay: 900ms;
 }

 header h1 span:nth-child(4) {
     transition-delay: 800ms;
 }

 header h1 span:nth-child(5) {
     transition-delay: 1000ms;
 }

 header h1 span:nth-child(6) {
     transition-delay: 700ms;
 }

 header h1 span:nth-child(7) {
     transition-delay: 900ms;
 }

 header h1 span:nth-child(8) {
     transition-delay: 800ms;
 }

 header h1 span:nth-child(9) {
     transition-delay: 600ms;
 }

 header h1 span:nth-child(10) {
     transition-delay: 700ms;
 }

 header.header-animation h1 span:nth-child(11) {
     opacity: 0;
     transform: translateY(30px);
 }

 header.header-animation h1 span:nth-child(12) {
     opacity: 0;
     transform: translateY(50px);
 }

 header.header-animation h1 span:nth-child(13) {
     opacity: 0;
     transform: translateY(20px);
 }

 header.header-animation h1 span:nth-child(14) {
     opacity: 0;
     transform: translateY(30px);
 }

 header.header-animation h1 span:nth-child(15) {
     opacity: 0;
     transform: translateY(50px);
 }

 header h1 span:nth-child(11) {
     transition-delay: 1300ms;
 }

 header h1 span:nth-child(12) {
     transition-delay: 1500ms;
 }

 header h1 span:nth-child(13) {
     transition-delay: 1400ms;
 }

 header h1 span:nth-child(14) {
     transition-delay: 1200ms;
 }

 header h1 span:nth-child(15) {
     transition-delay: 1450ms;
 }

 header .nav-item .dropdown-menu {
     transform: translate3d(0, 10px, 0);
     visibility: hidden;
     opacity: 0;
     max-height: 0;
     display: block;
     padding: 0;
     margin: 0;
     transition: all 200ms linear;
 }

 header .dropdown-menu {
     padding: 10px !important;
     margin: 0;
     font-size: 13px;
     letter-spacing: 1px;
     color: #212121;
     background-color: #fcfaff;
     border: none;
     border-radius: 3px;
     box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
     transition: all 200ms linear;
 }

 header .dropdown-toggle::after {
     display: none;
 }

 header .dropdown-item {
     padding: 3px 15px;
     color: #212121;
     border-radius: 2px;
     transition: all 200ms linear;
 }

 header .dropdown-item:hover,
 header .dropdown-item:focus {
     color: #fff;
     background-color: rgba(129, 103, 169, .6);
 }

 @media (max-width: 767px) {
     header h1 {
         font-size: 38px;
     }

     header .nav-item:after {
         display: none;
     }

     header .nav-item::before {
         position: absolute;
         display: block;
         top: 15px;
         left: 0;
         width: 11px;
         height: 1px;
         content: "";
         border: none;
         background-color: #000;
         vertical-align: 0;
     }
 }

 /*---HEADER---*/
 /*---HOME---*/
 section {
     overflow-x: hidden;
     font-family: 'Lato', sans-serif;
     width: 100%;
 }

 a {
     text-decoration: none;
 }

 ul {
     list-style-type: none;
 }

 a:hover, a:focus {
     text-decoration: none;
 }

 h1, h2 {
     text-transform: none;
     font-weight: 600;
     font-family: 'Lato', sans-serif;
     text-align: center;
 }

 .container-h1 {
     font-family: 'Lora', serif;
     text-align: center;
     font-size: 50px;
     font-weight: 700;
     margin: 50px auto;
     color: #333;
     font-family: 'Ubuntu', sans-serif;
 }

 .btn {
     color: #fff;
     background-color: #182c39;
     margin: 20px auto;
     border-radius: 0;
     font-weight: 500;
     display: table;
     padding: 10px;
 }

 .btn:hover {
     color: #182c39;
     background-color: transparent;
     border: 1px solid #182c39;
 }

 section {
     align-items: center;
     padding: 50px 60px;
 }

 @keyframes slide {
     0% {
         opacity: 0;
         transform: translateX(50%);
     }

     100% {
         opacity: 1;
         transform: translateX(0%);
     }
 }

 @-webkit-keyframes slide {
     0% {
         opacity: 0;
         -webkit-transform: translateX(50%);
         transform: translateX(50%);
     }

     100% {
         opacity: 1;
         -webkit-transform: translateX(0%);
         transform: translateX(0%);
     }
 }

 /*---HOME---*/